# Environment variables
.env
.env.local

# Node dependencies
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
nodemon-debug.log*

# User data & Uploads (Runtime only)
users/
uploads/
conversations/
prompts/

# OS files
.DS_Store
Thumbs.db
